<h2>Tiny Tiny App</h2>

<% if (!user){ %>
<p>If you're already a user please <a href='/login'>login</a>.</p>

<p>If not please <a href='/registration'>register</a>
</p>

<% } else { %>

<header>You are logged in as:
  <%= user %>
</header>
<form method="POST" action="/logout">
  <input type="submit" value="logout">
</form>

<% } %>