<header>This is My Header Title!</header>

<% if (!username){ %>

  <form method="POST" action="/login">
    username login : <input name="username" value=""/> 
     <input type="submit" value="sign in">
   </form> 

   <% } else { %>
  <h4>You are logged in as: <%= username %></h4>
  <form method="POST" action="/logout">
     <input type="submit" value="logout">
   </form> 
  
   <% } %>




