<!DOCTYPE html>
<html lang="en">

<body>
  <header>TINY APP</header>
  <h3>Login</h3>
  <form method="POST" action="/login">
    <h4>Please enter a email and password to login.</h4>
    email <input name="email" value="" />
    password <input name="password" value="" />
    <input type="submit" value="login">
  </form>
</body>

</html>