<!-- Fill out the urls_show.ejs template to display the following:
The long URL and its shortened form. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tiny App</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
  <header>
      <% include ./partials/_header %>
  </header>
<body>
   <h2>Your shortened URL</h2>

  <% if(user){ %>
   <ul>
      <form method="POST" action="/urls/<%= shortURL %>/update">
       <li> <a href="/u/<%= shortURL %>"><%= shortURL %></a>  <input name="longURL" value="<%= longURL %>"/> </li> 
        <input type="submit" value="Update URL">
      </form> 
   </ul>
   <% } else { %>
    <h4>Please login or register you wish to see our shortURL's</h4>
    <% }; %>

    <h5><a href='/urls'>Click here to see all short URL's</a></h5>
</body>
</html>

<!-- make and else if if they are logged in but can't view 
  this particular URL because it does not belong to them. -->
 

